<div class="text-center">
  <h2 class="text-2xl mb-4">Edit <%= resource_name.to_s.humanize %></h2>
</div>

<% if resource.errors.any? %>
  <%= render Layout::Alert.new("modifications not saved, fix the errors bellow", type: :error)  %>
  <br>
<% end %>

<%= form_for resource, as: resource_name, url: registration_path(resource_name), builder: DaisyFormBuilder, html: {method: "put", data: {turbo: "false"}} do |f| %>
  <%= f.group :avatar_image do %>
    <% if f.object.avatar_image.attached? %>
      <%= image_tag rails_storage_proxy_path(f.object.avatar_image), class: "h-16 w-16 rounded-full object-cover mb-2" %>
    <% end %>
    <%= f.file_field :avatar_image %>
  <% end %>

  <%= f.group :banner_image do %>
    <% if f.object.banner_image.attached? %>
      <%= image_tag rails_storage_proxy_path(f.object.banner_image), class: "rounded-t h-40 w-full object-cover mb-2" %>
    <% end %>
    <%= f.file_field :banner_image %>
  <% end %>

  <%= f.group :email do %>
    <%= f.text_field :email %>
  <% end %>

  <%= f.group :bank do %>
    <%= f.text_field :bank %>
  <% end %>

  <%= f.group :btc do %>
    <%= f.text_field :btc %>
  <% end %>

  <%= f.group :password, hint: "leave it blank if you don't want to change it", required: false do %>
    <%= f.password_field :password %>
  <% end %>

  <%= f.group :password_confirmation, required: false do %>
    <%= f.password_field :password_confirmation %>
  <% end %>

  <%= f.group :current_password, hint: "we need your current password to confirm your changes", required: false do %>
    <%= f.password_field :current_password %>
  <% end %>

  <%= f.submit "Update" %>
<% end %>

<%= link_to "Cancel my account",
  registration_path(current_user),
  class: "text-red-600",
  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
%>
